/* Variables */
/* Modifiers */
.menu__bar--colored {
  background-color: #000; }

.menu__bar--fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; }

.menu__bar--transparent {
  background-color: transparent; }

.menu__mobile--visible {
  right: 0%; }

/* Variables */
.menu-list__submenu {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0; }

/* Modifiers */
.menu-list__link--white {
  color: #fff; }
  .menu-list__link--white:visited {
    color: #fff; }
