/* Variables */
$color-contrast: #000 !default;
$color-primary: #000 !default;
$menu-bar-height: 80px !default;
$menu-bar-mobile-height: 60px !default;
$vertical-beat: 30px !default;
//
// .menu__bar{
// 	@extend %bar;
// 	background-color: #fff;
// 	transition: background-color 0.3s;
// }
// .menu__close-mobile-menu, .menu__toggle-mobile-menu{
// 	@extend %button;
// 	@extend %button--no-background;
// 	@extend %button--no-border;
// }
//
// .menu__toggle-mobile-menu{
// 	@extend %hidden-for-min-desktop;
// }
// .menu__container{
// 	@extend %container;
//     align-items: center;
//     display: flex;
//     justify-content: space-between;
// 	height: $menu-bar-mobile-height;
// }
// .menu__logo{
// 	@extend %logo;
// 	flex: 0 1 150px;
// 	padding: 10px 0;
// }
// .menu__mobile{
// 	background-color: #fff;
// 	height: 100%;
// 	overflow-y: auto;
// 	padding: 0 15px;
// 	position: fixed;
// 	right: -100%;
// 	top: 0;
// 	transition: right 0.3s;
// 	width: 100%;
// 	z-index: 99;
// }
// .menu__mobile-header{
// 	@extend %bar;
// 	align-items: center;
// 	border-bottom: 1px solid #eee;
// 	display: flex;
// 	margin: 0 -15px $vertical-beat;
// 	height: $menu-bar-mobile-height;
// 	justify-content: flex-end;
// }
// .menu__mobile-search{
// 	@extend %bar;
// 	background-color: $color-contrast;
// 	margin: -$vertical-beat -15px $vertical-beat -15px;
// 	padding: 15px;
// }
// .menu__search{
// 	@extend %hidden-for-max-tablet-landscape;
// 	margin-left: 15px;
// }
// @include for-min-tablet-portrait{
// 	.menu__container{
// 		height: $menu-bar-height;
// 	}
// 	.menu__mobile-header{
// 		height: $menu-bar-height;
// 	}
// }

/* Modifiers */
.menu__bar--colored{
	background-color: $color-primary;
}
.menu__bar--fixed{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}
.menu__bar--transparent{
	background-color: transparent;
}
.menu__mobile--visible{
	right: 0%;
}

// Mobile-menu-List

// .mobile-menu-list{
// 	@extend %list;
// }

//Menu-List

/* Variables */
$color-border: #ddd !default;

// .menu-list{
// 	@extend %list;
// 	@extend %hidden-for-max-tablet-landscape;
// 	margin-bottom:0;
// 	.list__item{
// 		position: relative;
// 	}
// 	& .list__item:hover .menu-list__submenu{
// 		display: block;
// 	}
// }
// .menu-list__link{
// 	@extend %link;
// 	@extend %link--no-decoration;
// 	@extend %link--color-text;
// 	display: block;
// 	padding: 15px;
// }
.menu-list__submenu{
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
}
// @include for-min-tablet-landscape{
// 	.menu-list{
// 		align-items: center;
// 		display: flex;
// 		flex-grow: 1;
// 		flex-wrap: wrap;
// 		justify-content: flex-end;
// 		& .list__item:last-child{
// 			.menu-list__submenu{
// 				right: 0;
// 			}
// 		}
// 	}
// 	.menu-list{
// 		& > .list__item:first-child{
// 			margin-left: -15px;
// 		}
// 	}
// 	.menu-list__submenu{
// 	    background: #fff;
// 	    display: none;
// 		min-width: 200px;
// 		padding-left: 0;
// 		position: absolute;
//     	z-index: 1;
//     	& .list__item{
//     		border-bottom: 1px solid $color-border;
//     	}
//     	& .list__item:last-child{
//     		border-bottom: none;
//     	}
// 	}
// }

/* Modifiers */
.menu-list__link--white{
	color: #fff;
	&:visited{
		color: #fff;
	}
}
