@charset "UTF-8";
/* Theme A */
/* Reset */
/* Variables */
/* @import */
/* Variables */
/* Utilities */
.color-primary {
  color: #000;
}

.color-secondary {
  color: #007bff;
}

.color-text {
  color: #000;
}

/* Utilities */
@media (max-width: 599px) {
  .hidden-for-max-phone {
    display: none !important;
  }
}
@media (max-width: 899px) {
  .hidden-for-max-tablet-portrait {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .hidden-for-max-tablet-landscape {
    display: none !important;
  }
}
@media (max-width: 1799px) {
  .hidden-for-max-desktop {
    display: none !important;
  }
}
@media (min-width: 600px) {
  .hidden-for-min-tablet-portrait {
    display: none !important;
  }
}
@media (min-width: 900px) {
  .hidden-for-min-tablet-landscape {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-for-min-desktop {
    display: none !important;
  }
}
@media (min-width: 1800px) {
  .hidden-for-min-desktop-big {
    display: none !important;
  }
}
/* Variables */
/* Mixins */
/* Utilities */
.margin-small {
  margin-bottom: 10px;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-large {
  font-size: 1.25em !important;
}

.text-small {
  color: #aaa;
  font-size: 0.875em !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
}
a:visited {
  color: #000;
}

code {
  color: #000;
}

html {
  font-family: Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  line-height: 1.1;
  margin: 0 0 20px 0;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}

h4 {
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: 600;
}

h5 {
  font-family: Arial, sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  text-transform: uppercase;
}

h6 {
  font-family: Arial, sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  text-transform: uppercase;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

ol, p, ul {
  color: #000;
  margin-bottom: 30px;
}

ol, ul {
  padding-left: 20px;
}

strong {
  color: #000;
}

table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  display: block;
  font-size: 1rem;
  margin-bottom: 30px;
  overflow-x: auto;
  max-width: 100%;
  width: 100%;
}

table tbody:first-child td {
  border-top: none;
}

table td, table th {
  padding: 10px;
  vertical-align: top;
  white-space: nowrap;
}

table td {
  border-top: 1px solid #ddd;
}

table th {
  font-weight: 700;
  text-align: left;
}

table tr td:first-child {
  padding-left: 0;
}

table tr td:last-child {
  padding-right: 0;
}

@media (min-width: 900px) {
  table {
    border: none;
    display: table;
  }

  table tbody:first-child td {
    border-top: 1px solid #ddd;
  }
}
/* Mixins */
/* Fonts */
/*!
 * Font Awesome Free 5.0.9 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.fa-xs {
  font-size: 0.75em;
}

.fa-sm {
  font-size: 0.875em;
}

.fa-1x {
  font-size: 1em;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-6x {
  font-size: 6em;
}

.fa-7x {
  font-size: 7em;
}

.fa-8x {
  font-size: 8em;
}

.fa-9x {
  font-size: 9em;
}

.fa-10x {
  font-size: 10em;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}
.fa-ul > li {
  position: relative;
}

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.fa-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: 0.3em;
}
.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: 0.3em;
}

.fa-spin {
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  animation: fa-spin 1s infinite steps(8);
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  transform: scale(1, -1);
}

.fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  transform: scale(-1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}

.fa-stack-1x,
.fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */
.fa-500px:before {
  content: "\f26e";
}

.fa-accessible-icon:before {
  content: "\f368";
}

.fa-accusoft:before {
  content: "\f369";
}

.fa-address-book:before {
  content: "\f2b9";
}

.fa-address-card:before {
  content: "\f2bb";
}

.fa-adjust:before {
  content: "\f042";
}

.fa-adn:before {
  content: "\f170";
}

.fa-adversal:before {
  content: "\f36a";
}

.fa-affiliatetheme:before {
  content: "\f36b";
}

.fa-algolia:before {
  content: "\f36c";
}

.fa-align-center:before {
  content: "\f037";
}

.fa-align-justify:before {
  content: "\f039";
}

.fa-align-left:before {
  content: "\f036";
}

.fa-align-right:before {
  content: "\f038";
}

.fa-allergies:before {
  content: "\f461";
}

.fa-amazon:before {
  content: "\f270";
}

.fa-amazon-pay:before {
  content: "\f42c";
}

.fa-ambulance:before {
  content: "\f0f9";
}

.fa-american-sign-language-interpreting:before {
  content: "\f2a3";
}

.fa-amilia:before {
  content: "\f36d";
}

.fa-anchor:before {
  content: "\f13d";
}

.fa-android:before {
  content: "\f17b";
}

.fa-angellist:before {
  content: "\f209";
}

.fa-angle-double-down:before {
  content: "\f103";
}

.fa-angle-double-left:before {
  content: "\f100";
}

.fa-angle-double-right:before {
  content: "\f101";
}

.fa-angle-double-up:before {
  content: "\f102";
}

.fa-angle-down:before {
  content: "\f107";
}

.fa-angle-left:before {
  content: "\f104";
}

.fa-angle-right:before {
  content: "\f105";
}

.fa-angle-up:before {
  content: "\f106";
}

.fa-angrycreative:before {
  content: "\f36e";
}

.fa-angular:before {
  content: "\f420";
}

.fa-app-store:before {
  content: "\f36f";
}

.fa-app-store-ios:before {
  content: "\f370";
}

.fa-apper:before {
  content: "\f371";
}

.fa-apple:before {
  content: "\f179";
}

.fa-apple-pay:before {
  content: "\f415";
}

.fa-archive:before {
  content: "\f187";
}

.fa-arrow-alt-circle-down:before {
  content: "\f358";
}

.fa-arrow-alt-circle-left:before {
  content: "\f359";
}

.fa-arrow-alt-circle-right:before {
  content: "\f35a";
}

.fa-arrow-alt-circle-up:before {
  content: "\f35b";
}

.fa-arrow-circle-down:before {
  content: "\f0ab";
}

.fa-arrow-circle-left:before {
  content: "\f0a8";
}

.fa-arrow-circle-right:before {
  content: "\f0a9";
}

.fa-arrow-circle-up:before {
  content: "\f0aa";
}

.fa-arrow-down:before {
  content: "\f063";
}

.fa-arrow-left:before {
  content: "\f060";
}

.fa-arrow-right:before {
  content: "\f061";
}

.fa-arrow-up:before {
  content: "\f062";
}

.fa-arrows-alt:before {
  content: "\f0b2";
}

.fa-arrows-alt-h:before {
  content: "\f337";
}

.fa-arrows-alt-v:before {
  content: "\f338";
}

.fa-assistive-listening-systems:before {
  content: "\f2a2";
}

.fa-asterisk:before {
  content: "\f069";
}

.fa-asymmetrik:before {
  content: "\f372";
}

.fa-at:before {
  content: "\f1fa";
}

.fa-audible:before {
  content: "\f373";
}

.fa-audio-description:before {
  content: "\f29e";
}

.fa-autoprefixer:before {
  content: "\f41c";
}

.fa-avianex:before {
  content: "\f374";
}

.fa-aviato:before {
  content: "\f421";
}

.fa-aws:before {
  content: "\f375";
}

.fa-backward:before {
  content: "\f04a";
}

.fa-balance-scale:before {
  content: "\f24e";
}

.fa-ban:before {
  content: "\f05e";
}

.fa-band-aid:before {
  content: "\f462";
}

.fa-bandcamp:before {
  content: "\f2d5";
}

.fa-barcode:before {
  content: "\f02a";
}

.fa-bars:before {
  content: "\f0c9";
}

.fa-baseball-ball:before {
  content: "\f433";
}

.fa-basketball-ball:before {
  content: "\f434";
}

.fa-bath:before {
  content: "\f2cd";
}

.fa-battery-empty:before {
  content: "\f244";
}

.fa-battery-full:before {
  content: "\f240";
}

.fa-battery-half:before {
  content: "\f242";
}

.fa-battery-quarter:before {
  content: "\f243";
}

.fa-battery-three-quarters:before {
  content: "\f241";
}

.fa-bed:before {
  content: "\f236";
}

.fa-beer:before {
  content: "\f0fc";
}

.fa-behance:before {
  content: "\f1b4";
}

.fa-behance-square:before {
  content: "\f1b5";
}

.fa-bell:before {
  content: "\f0f3";
}

.fa-bell-slash:before {
  content: "\f1f6";
}

.fa-bicycle:before {
  content: "\f206";
}

.fa-bimobject:before {
  content: "\f378";
}

.fa-binoculars:before {
  content: "\f1e5";
}

.fa-birthday-cake:before {
  content: "\f1fd";
}

.fa-bitbucket:before {
  content: "\f171";
}

.fa-bitcoin:before {
  content: "\f379";
}

.fa-bity:before {
  content: "\f37a";
}

.fa-black-tie:before {
  content: "\f27e";
}

.fa-blackberry:before {
  content: "\f37b";
}

.fa-blind:before {
  content: "\f29d";
}

.fa-blogger:before {
  content: "\f37c";
}

.fa-blogger-b:before {
  content: "\f37d";
}

.fa-bluetooth:before {
  content: "\f293";
}

.fa-bluetooth-b:before {
  content: "\f294";
}

.fa-bold:before {
  content: "\f032";
}

.fa-bolt:before {
  content: "\f0e7";
}

.fa-bomb:before {
  content: "\f1e2";
}

.fa-book:before {
  content: "\f02d";
}

.fa-bookmark:before {
  content: "\f02e";
}

.fa-bowling-ball:before {
  content: "\f436";
}

.fa-box:before {
  content: "\f466";
}

.fa-box-open:before {
  content: "\f49e";
}

.fa-boxes:before {
  content: "\f468";
}

.fa-braille:before {
  content: "\f2a1";
}

.fa-briefcase:before {
  content: "\f0b1";
}

.fa-briefcase-medical:before {
  content: "\f469";
}

.fa-btc:before {
  content: "\f15a";
}

.fa-bug:before {
  content: "\f188";
}

.fa-building:before {
  content: "\f1ad";
}

.fa-bullhorn:before {
  content: "\f0a1";
}

.fa-bullseye:before {
  content: "\f140";
}

.fa-burn:before {
  content: "\f46a";
}

.fa-buromobelexperte:before {
  content: "\f37f";
}

.fa-bus:before {
  content: "\f207";
}

.fa-buysellads:before {
  content: "\f20d";
}

.fa-calculator:before {
  content: "\f1ec";
}

.fa-calendar:before {
  content: "\f133";
}

.fa-calendar-alt:before {
  content: "\f073";
}

.fa-calendar-check:before {
  content: "\f274";
}

.fa-calendar-minus:before {
  content: "\f272";
}

.fa-calendar-plus:before {
  content: "\f271";
}

.fa-calendar-times:before {
  content: "\f273";
}

.fa-camera:before {
  content: "\f030";
}

.fa-camera-retro:before {
  content: "\f083";
}

.fa-capsules:before {
  content: "\f46b";
}

.fa-car:before {
  content: "\f1b9";
}

.fa-caret-down:before {
  content: "\f0d7";
}

.fa-caret-left:before {
  content: "\f0d9";
}

.fa-caret-right:before {
  content: "\f0da";
}

.fa-caret-square-down:before {
  content: "\f150";
}

.fa-caret-square-left:before {
  content: "\f191";
}

.fa-caret-square-right:before {
  content: "\f152";
}

.fa-caret-square-up:before {
  content: "\f151";
}

.fa-caret-up:before {
  content: "\f0d8";
}

.fa-cart-arrow-down:before {
  content: "\f218";
}

.fa-cart-plus:before {
  content: "\f217";
}

.fa-cc-amazon-pay:before {
  content: "\f42d";
}

.fa-cc-amex:before {
  content: "\f1f3";
}

.fa-cc-apple-pay:before {
  content: "\f416";
}

.fa-cc-diners-club:before {
  content: "\f24c";
}

.fa-cc-discover:before {
  content: "\f1f2";
}

.fa-cc-jcb:before {
  content: "\f24b";
}

.fa-cc-mastercard:before {
  content: "\f1f1";
}

.fa-cc-paypal:before {
  content: "\f1f4";
}

.fa-cc-stripe:before {
  content: "\f1f5";
}

.fa-cc-visa:before {
  content: "\f1f0";
}

.fa-centercode:before {
  content: "\f380";
}

.fa-certificate:before {
  content: "\f0a3";
}

.fa-chart-area:before {
  content: "\f1fe";
}

.fa-chart-bar:before {
  content: "\f080";
}

.fa-chart-line:before {
  content: "\f201";
}

.fa-chart-pie:before {
  content: "\f200";
}

.fa-check:before {
  content: "\f00c";
}

.fa-check-circle:before {
  content: "\f058";
}

.fa-check-square:before {
  content: "\f14a";
}

.fa-chess:before {
  content: "\f439";
}

.fa-chess-bishop:before {
  content: "\f43a";
}

.fa-chess-board:before {
  content: "\f43c";
}

.fa-chess-king:before {
  content: "\f43f";
}

.fa-chess-knight:before {
  content: "\f441";
}

.fa-chess-pawn:before {
  content: "\f443";
}

.fa-chess-queen:before {
  content: "\f445";
}

.fa-chess-rook:before {
  content: "\f447";
}

.fa-chevron-circle-down:before {
  content: "\f13a";
}

.fa-chevron-circle-left:before {
  content: "\f137";
}

.fa-chevron-circle-right:before {
  content: "\f138";
}

.fa-chevron-circle-up:before {
  content: "\f139";
}

.fa-chevron-down:before {
  content: "\f078";
}

.fa-chevron-left:before {
  content: "\f053";
}

.fa-chevron-right:before {
  content: "\f054";
}

.fa-chevron-up:before {
  content: "\f077";
}

.fa-child:before {
  content: "\f1ae";
}

.fa-chrome:before {
  content: "\f268";
}

.fa-circle:before {
  content: "\f111";
}

.fa-circle-notch:before {
  content: "\f1ce";
}

.fa-clipboard:before {
  content: "\f328";
}

.fa-clipboard-check:before {
  content: "\f46c";
}

.fa-clipboard-list:before {
  content: "\f46d";
}

.fa-clock:before {
  content: "\f017";
}

.fa-clone:before {
  content: "\f24d";
}

.fa-closed-captioning:before {
  content: "\f20a";
}

.fa-cloud:before {
  content: "\f0c2";
}

.fa-cloud-download-alt:before {
  content: "\f381";
}

.fa-cloud-upload-alt:before {
  content: "\f382";
}

.fa-cloudscale:before {
  content: "\f383";
}

.fa-cloudsmith:before {
  content: "\f384";
}

.fa-cloudversify:before {
  content: "\f385";
}

.fa-code:before {
  content: "\f121";
}

.fa-code-branch:before {
  content: "\f126";
}

.fa-codepen:before {
  content: "\f1cb";
}

.fa-codiepie:before {
  content: "\f284";
}

.fa-coffee:before {
  content: "\f0f4";
}

.fa-cog:before {
  content: "\f013";
}

.fa-cogs:before {
  content: "\f085";
}

.fa-columns:before {
  content: "\f0db";
}

.fa-comment:before {
  content: "\f075";
}

.fa-comment-alt:before {
  content: "\f27a";
}

.fa-comment-dots:before {
  content: "\f4ad";
}

.fa-comment-slash:before {
  content: "\f4b3";
}

.fa-comments:before {
  content: "\f086";
}

.fa-compass:before {
  content: "\f14e";
}

.fa-compress:before {
  content: "\f066";
}

.fa-connectdevelop:before {
  content: "\f20e";
}

.fa-contao:before {
  content: "\f26d";
}

.fa-copy:before {
  content: "\f0c5";
}

.fa-copyright:before {
  content: "\f1f9";
}

.fa-couch:before {
  content: "\f4b8";
}

.fa-cpanel:before {
  content: "\f388";
}

.fa-creative-commons:before {
  content: "\f25e";
}

.fa-credit-card:before {
  content: "\f09d";
}

.fa-crop:before {
  content: "\f125";
}

.fa-crosshairs:before {
  content: "\f05b";
}

.fa-css3:before {
  content: "\f13c";
}

.fa-css3-alt:before {
  content: "\f38b";
}

.fa-cube:before {
  content: "\f1b2";
}

.fa-cubes:before {
  content: "\f1b3";
}

.fa-cut:before {
  content: "\f0c4";
}

.fa-cuttlefish:before {
  content: "\f38c";
}

.fa-d-and-d:before {
  content: "\f38d";
}

.fa-dashcube:before {
  content: "\f210";
}

.fa-database:before {
  content: "\f1c0";
}

.fa-deaf:before {
  content: "\f2a4";
}

.fa-delicious:before {
  content: "\f1a5";
}

.fa-deploydog:before {
  content: "\f38e";
}

.fa-deskpro:before {
  content: "\f38f";
}

.fa-desktop:before {
  content: "\f108";
}

.fa-deviantart:before {
  content: "\f1bd";
}

.fa-diagnoses:before {
  content: "\f470";
}

.fa-digg:before {
  content: "\f1a6";
}

.fa-digital-ocean:before {
  content: "\f391";
}

.fa-discord:before {
  content: "\f392";
}

.fa-discourse:before {
  content: "\f393";
}

.fa-dna:before {
  content: "\f471";
}

.fa-dochub:before {
  content: "\f394";
}

.fa-docker:before {
  content: "\f395";
}

.fa-dollar-sign:before {
  content: "\f155";
}

.fa-dolly:before {
  content: "\f472";
}

.fa-dolly-flatbed:before {
  content: "\f474";
}

.fa-donate:before {
  content: "\f4b9";
}

.fa-dot-circle:before {
  content: "\f192";
}

.fa-dove:before {
  content: "\f4ba";
}

.fa-download:before {
  content: "\f019";
}

.fa-draft2digital:before {
  content: "\f396";
}

.fa-dribbble:before {
  content: "\f17d";
}

.fa-dribbble-square:before {
  content: "\f397";
}

.fa-dropbox:before {
  content: "\f16b";
}

.fa-drupal:before {
  content: "\f1a9";
}

.fa-dyalog:before {
  content: "\f399";
}

.fa-earlybirds:before {
  content: "\f39a";
}

.fa-edge:before {
  content: "\f282";
}

.fa-edit:before {
  content: "\f044";
}

.fa-eject:before {
  content: "\f052";
}

.fa-elementor:before {
  content: "\f430";
}

.fa-ellipsis-h:before {
  content: "\f141";
}

.fa-ellipsis-v:before {
  content: "\f142";
}

.fa-ember:before {
  content: "\f423";
}

.fa-empire:before {
  content: "\f1d1";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-envelope-open:before {
  content: "\f2b6";
}

.fa-envelope-square:before {
  content: "\f199";
}

.fa-envira:before {
  content: "\f299";
}

.fa-eraser:before {
  content: "\f12d";
}

.fa-erlang:before {
  content: "\f39d";
}

.fa-ethereum:before {
  content: "\f42e";
}

.fa-etsy:before {
  content: "\f2d7";
}

.fa-euro-sign:before {
  content: "\f153";
}

.fa-exchange-alt:before {
  content: "\f362";
}

.fa-exclamation:before {
  content: "\f12a";
}

.fa-exclamation-circle:before {
  content: "\f06a";
}

.fa-exclamation-triangle:before {
  content: "\f071";
}

.fa-expand:before {
  content: "\f065";
}

.fa-expand-arrows-alt:before {
  content: "\f31e";
}

.fa-expeditedssl:before {
  content: "\f23e";
}

.fa-external-link-alt:before {
  content: "\f35d";
}

.fa-external-link-square-alt:before {
  content: "\f360";
}

.fa-eye:before {
  content: "\f06e";
}

.fa-eye-dropper:before {
  content: "\f1fb";
}

.fa-eye-slash:before {
  content: "\f070";
}

.fa-facebook:before {
  content: "\f09a";
}

.fa-facebook-f:before {
  content: "\f39e";
}

.fa-facebook-messenger:before {
  content: "\f39f";
}

.fa-facebook-square:before {
  content: "\f082";
}

.fa-fast-backward:before {
  content: "\f049";
}

.fa-fast-forward:before {
  content: "\f050";
}

.fa-fax:before {
  content: "\f1ac";
}

.fa-female:before {
  content: "\f182";
}

.fa-fighter-jet:before {
  content: "\f0fb";
}

.fa-file:before {
  content: "\f15b";
}

.fa-file-alt:before {
  content: "\f15c";
}

.fa-file-archive:before {
  content: "\f1c6";
}

.fa-file-audio:before {
  content: "\f1c7";
}

.fa-file-code:before {
  content: "\f1c9";
}

.fa-file-excel:before {
  content: "\f1c3";
}

.fa-file-image:before {
  content: "\f1c5";
}

.fa-file-medical:before {
  content: "\f477";
}

.fa-file-medical-alt:before {
  content: "\f478";
}

.fa-file-pdf:before {
  content: "\f1c1";
}

.fa-file-powerpoint:before {
  content: "\f1c4";
}

.fa-file-video:before {
  content: "\f1c8";
}

.fa-file-word:before {
  content: "\f1c2";
}

.fa-film:before {
  content: "\f008";
}

.fa-filter:before {
  content: "\f0b0";
}

.fa-fire:before {
  content: "\f06d";
}

.fa-fire-extinguisher:before {
  content: "\f134";
}

.fa-firefox:before {
  content: "\f269";
}

.fa-first-aid:before {
  content: "\f479";
}

.fa-first-order:before {
  content: "\f2b0";
}

.fa-firstdraft:before {
  content: "\f3a1";
}

.fa-flag:before {
  content: "\f024";
}

.fa-flag-checkered:before {
  content: "\f11e";
}

.fa-flask:before {
  content: "\f0c3";
}

.fa-flickr:before {
  content: "\f16e";
}

.fa-flipboard:before {
  content: "\f44d";
}

.fa-fly:before {
  content: "\f417";
}

.fa-folder:before {
  content: "\f07b";
}

.fa-folder-open:before {
  content: "\f07c";
}

.fa-font:before {
  content: "\f031";
}

.fa-font-awesome:before {
  content: "\f2b4";
}

.fa-font-awesome-alt:before {
  content: "\f35c";
}

.fa-font-awesome-flag:before {
  content: "\f425";
}

.fa-fonticons:before {
  content: "\f280";
}

.fa-fonticons-fi:before {
  content: "\f3a2";
}

.fa-football-ball:before {
  content: "\f44e";
}

.fa-fort-awesome:before {
  content: "\f286";
}

.fa-fort-awesome-alt:before {
  content: "\f3a3";
}

.fa-forumbee:before {
  content: "\f211";
}

.fa-forward:before {
  content: "\f04e";
}

.fa-foursquare:before {
  content: "\f180";
}

.fa-free-code-camp:before {
  content: "\f2c5";
}

.fa-freebsd:before {
  content: "\f3a4";
}

.fa-frown:before {
  content: "\f119";
}

.fa-futbol:before {
  content: "\f1e3";
}

.fa-gamepad:before {
  content: "\f11b";
}

.fa-gavel:before {
  content: "\f0e3";
}

.fa-gem:before {
  content: "\f3a5";
}

.fa-genderless:before {
  content: "\f22d";
}

.fa-get-pocket:before {
  content: "\f265";
}

.fa-gg:before {
  content: "\f260";
}

.fa-gg-circle:before {
  content: "\f261";
}

.fa-gift:before {
  content: "\f06b";
}

.fa-git:before {
  content: "\f1d3";
}

.fa-git-square:before {
  content: "\f1d2";
}

.fa-github:before {
  content: "\f09b";
}

.fa-github-alt:before {
  content: "\f113";
}

.fa-github-square:before {
  content: "\f092";
}

.fa-gitkraken:before {
  content: "\f3a6";
}

.fa-gitlab:before {
  content: "\f296";
}

.fa-gitter:before {
  content: "\f426";
}

.fa-glass-martini:before {
  content: "\f000";
}

.fa-glide:before {
  content: "\f2a5";
}

.fa-glide-g:before {
  content: "\f2a6";
}

.fa-globe:before {
  content: "\f0ac";
}

.fa-gofore:before {
  content: "\f3a7";
}

.fa-golf-ball:before {
  content: "\f450";
}

.fa-goodreads:before {
  content: "\f3a8";
}

.fa-goodreads-g:before {
  content: "\f3a9";
}

.fa-google:before {
  content: "\f1a0";
}

.fa-google-drive:before {
  content: "\f3aa";
}

.fa-google-play:before {
  content: "\f3ab";
}

.fa-google-plus:before {
  content: "\f2b3";
}

.fa-google-plus-g:before {
  content: "\f0d5";
}

.fa-google-plus-square:before {
  content: "\f0d4";
}

.fa-google-wallet:before {
  content: "\f1ee";
}

.fa-graduation-cap:before {
  content: "\f19d";
}

.fa-gratipay:before {
  content: "\f184";
}

.fa-grav:before {
  content: "\f2d6";
}

.fa-gripfire:before {
  content: "\f3ac";
}

.fa-grunt:before {
  content: "\f3ad";
}

.fa-gulp:before {
  content: "\f3ae";
}

.fa-h-square:before {
  content: "\f0fd";
}

.fa-hacker-news:before {
  content: "\f1d4";
}

.fa-hacker-news-square:before {
  content: "\f3af";
}

.fa-hand-holding:before {
  content: "\f4bd";
}

.fa-hand-holding-heart:before {
  content: "\f4be";
}

.fa-hand-holding-usd:before {
  content: "\f4c0";
}

.fa-hand-lizard:before {
  content: "\f258";
}

.fa-hand-paper:before {
  content: "\f256";
}

.fa-hand-peace:before {
  content: "\f25b";
}

.fa-hand-point-down:before {
  content: "\f0a7";
}

.fa-hand-point-left:before {
  content: "\f0a5";
}

.fa-hand-point-right:before {
  content: "\f0a4";
}

.fa-hand-point-up:before {
  content: "\f0a6";
}

.fa-hand-pointer:before {
  content: "\f25a";
}

.fa-hand-rock:before {
  content: "\f255";
}

.fa-hand-scissors:before {
  content: "\f257";
}

.fa-hand-spock:before {
  content: "\f259";
}

.fa-hands:before {
  content: "\f4c2";
}

.fa-hands-helping:before {
  content: "\f4c4";
}

.fa-handshake:before {
  content: "\f2b5";
}

.fa-hashtag:before {
  content: "\f292";
}

.fa-hdd:before {
  content: "\f0a0";
}

.fa-heading:before {
  content: "\f1dc";
}

.fa-headphones:before {
  content: "\f025";
}

.fa-heart:before {
  content: "\f004";
}

.fa-heartbeat:before {
  content: "\f21e";
}

.fa-hips:before {
  content: "\f452";
}

.fa-hire-a-helper:before {
  content: "\f3b0";
}

.fa-history:before {
  content: "\f1da";
}

.fa-hockey-puck:before {
  content: "\f453";
}

.fa-home:before {
  content: "\f015";
}

.fa-hooli:before {
  content: "\f427";
}

.fa-hospital:before {
  content: "\f0f8";
}

.fa-hospital-alt:before {
  content: "\f47d";
}

.fa-hospital-symbol:before {
  content: "\f47e";
}

.fa-hotjar:before {
  content: "\f3b1";
}

.fa-hourglass:before {
  content: "\f254";
}

.fa-hourglass-end:before {
  content: "\f253";
}

.fa-hourglass-half:before {
  content: "\f252";
}

.fa-hourglass-start:before {
  content: "\f251";
}

.fa-houzz:before {
  content: "\f27c";
}

.fa-html5:before {
  content: "\f13b";
}

.fa-hubspot:before {
  content: "\f3b2";
}

.fa-i-cursor:before {
  content: "\f246";
}

.fa-id-badge:before {
  content: "\f2c1";
}

.fa-id-card:before {
  content: "\f2c2";
}

.fa-id-card-alt:before {
  content: "\f47f";
}

.fa-image:before {
  content: "\f03e";
}

.fa-images:before {
  content: "\f302";
}

.fa-imdb:before {
  content: "\f2d8";
}

.fa-inbox:before {
  content: "\f01c";
}

.fa-indent:before {
  content: "\f03c";
}

.fa-industry:before {
  content: "\f275";
}

.fa-info:before {
  content: "\f129";
}

.fa-info-circle:before {
  content: "\f05a";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-internet-explorer:before {
  content: "\f26b";
}

.fa-ioxhost:before {
  content: "\f208";
}

.fa-italic:before {
  content: "\f033";
}

.fa-itunes:before {
  content: "\f3b4";
}

.fa-itunes-note:before {
  content: "\f3b5";
}

.fa-jenkins:before {
  content: "\f3b6";
}

.fa-joget:before {
  content: "\f3b7";
}

.fa-joomla:before {
  content: "\f1aa";
}

.fa-js:before {
  content: "\f3b8";
}

.fa-js-square:before {
  content: "\f3b9";
}

.fa-jsfiddle:before {
  content: "\f1cc";
}

.fa-key:before {
  content: "\f084";
}

.fa-keyboard:before {
  content: "\f11c";
}

.fa-keycdn:before {
  content: "\f3ba";
}

.fa-kickstarter:before {
  content: "\f3bb";
}

.fa-kickstarter-k:before {
  content: "\f3bc";
}

.fa-korvue:before {
  content: "\f42f";
}

.fa-language:before {
  content: "\f1ab";
}

.fa-laptop:before {
  content: "\f109";
}

.fa-laravel:before {
  content: "\f3bd";
}

.fa-lastfm:before {
  content: "\f202";
}

.fa-lastfm-square:before {
  content: "\f203";
}

.fa-leaf:before {
  content: "\f06c";
}

.fa-leanpub:before {
  content: "\f212";
}

.fa-lemon:before {
  content: "\f094";
}

.fa-less:before {
  content: "\f41d";
}

.fa-level-down-alt:before {
  content: "\f3be";
}

.fa-level-up-alt:before {
  content: "\f3bf";
}

.fa-life-ring:before {
  content: "\f1cd";
}

.fa-lightbulb:before {
  content: "\f0eb";
}

.fa-line:before {
  content: "\f3c0";
}

.fa-link:before {
  content: "\f0c1";
}

.fa-linkedin:before {
  content: "\f08c";
}

.fa-linkedin-in:before {
  content: "\f0e1";
}

.fa-linode:before {
  content: "\f2b8";
}

.fa-linux:before {
  content: "\f17c";
}

.fa-lira-sign:before {
  content: "\f195";
}

.fa-list:before {
  content: "\f03a";
}

.fa-list-alt:before {
  content: "\f022";
}

.fa-list-ol:before {
  content: "\f0cb";
}

.fa-list-ul:before {
  content: "\f0ca";
}

.fa-location-arrow:before {
  content: "\f124";
}

.fa-lock:before {
  content: "\f023";
}

.fa-lock-open:before {
  content: "\f3c1";
}

.fa-long-arrow-alt-down:before {
  content: "\f309";
}

.fa-long-arrow-alt-left:before {
  content: "\f30a";
}

.fa-long-arrow-alt-right:before {
  content: "\f30b";
}

.fa-long-arrow-alt-up:before {
  content: "\f30c";
}

.fa-low-vision:before {
  content: "\f2a8";
}

.fa-lyft:before {
  content: "\f3c3";
}

.fa-magento:before {
  content: "\f3c4";
}

.fa-magic:before {
  content: "\f0d0";
}

.fa-magnet:before {
  content: "\f076";
}

.fa-male:before {
  content: "\f183";
}

.fa-map:before {
  content: "\f279";
}

.fa-map-marker:before {
  content: "\f041";
}

.fa-map-marker-alt:before {
  content: "\f3c5";
}

.fa-map-pin:before {
  content: "\f276";
}

.fa-map-signs:before {
  content: "\f277";
}

.fa-mars:before {
  content: "\f222";
}

.fa-mars-double:before {
  content: "\f227";
}

.fa-mars-stroke:before {
  content: "\f229";
}

.fa-mars-stroke-h:before {
  content: "\f22b";
}

.fa-mars-stroke-v:before {
  content: "\f22a";
}

.fa-maxcdn:before {
  content: "\f136";
}

.fa-medapps:before {
  content: "\f3c6";
}

.fa-medium:before {
  content: "\f23a";
}

.fa-medium-m:before {
  content: "\f3c7";
}

.fa-medkit:before {
  content: "\f0fa";
}

.fa-medrt:before {
  content: "\f3c8";
}

.fa-meetup:before {
  content: "\f2e0";
}

.fa-meh:before {
  content: "\f11a";
}

.fa-mercury:before {
  content: "\f223";
}

.fa-microchip:before {
  content: "\f2db";
}

.fa-microphone:before {
  content: "\f130";
}

.fa-microphone-slash:before {
  content: "\f131";
}

.fa-microsoft:before {
  content: "\f3ca";
}

.fa-minus:before {
  content: "\f068";
}

.fa-minus-circle:before {
  content: "\f056";
}

.fa-minus-square:before {
  content: "\f146";
}

.fa-mix:before {
  content: "\f3cb";
}

.fa-mixcloud:before {
  content: "\f289";
}

.fa-mizuni:before {
  content: "\f3cc";
}

.fa-mobile:before {
  content: "\f10b";
}

.fa-mobile-alt:before {
  content: "\f3cd";
}

.fa-modx:before {
  content: "\f285";
}

.fa-monero:before {
  content: "\f3d0";
}

.fa-money-bill-alt:before {
  content: "\f3d1";
}

.fa-moon:before {
  content: "\f186";
}

.fa-motorcycle:before {
  content: "\f21c";
}

.fa-mouse-pointer:before {
  content: "\f245";
}

.fa-music:before {
  content: "\f001";
}

.fa-napster:before {
  content: "\f3d2";
}

.fa-neuter:before {
  content: "\f22c";
}

.fa-newspaper:before {
  content: "\f1ea";
}

.fa-nintendo-switch:before {
  content: "\f418";
}

.fa-node:before {
  content: "\f419";
}

.fa-node-js:before {
  content: "\f3d3";
}

.fa-notes-medical:before {
  content: "\f481";
}

.fa-npm:before {
  content: "\f3d4";
}

.fa-ns8:before {
  content: "\f3d5";
}

.fa-nutritionix:before {
  content: "\f3d6";
}

.fa-object-group:before {
  content: "\f247";
}

.fa-object-ungroup:before {
  content: "\f248";
}

.fa-odnoklassniki:before {
  content: "\f263";
}

.fa-odnoklassniki-square:before {
  content: "\f264";
}

.fa-opencart:before {
  content: "\f23d";
}

.fa-openid:before {
  content: "\f19b";
}

.fa-opera:before {
  content: "\f26a";
}

.fa-optin-monster:before {
  content: "\f23c";
}

.fa-osi:before {
  content: "\f41a";
}

.fa-outdent:before {
  content: "\f03b";
}

.fa-page4:before {
  content: "\f3d7";
}

.fa-pagelines:before {
  content: "\f18c";
}

.fa-paint-brush:before {
  content: "\f1fc";
}

.fa-palfed:before {
  content: "\f3d8";
}

.fa-pallet:before {
  content: "\f482";
}

.fa-paper-plane:before {
  content: "\f1d8";
}

.fa-paperclip:before {
  content: "\f0c6";
}

.fa-parachute-box:before {
  content: "\f4cd";
}

.fa-paragraph:before {
  content: "\f1dd";
}

.fa-paste:before {
  content: "\f0ea";
}

.fa-patreon:before {
  content: "\f3d9";
}

.fa-pause:before {
  content: "\f04c";
}

.fa-pause-circle:before {
  content: "\f28b";
}

.fa-paw:before {
  content: "\f1b0";
}

.fa-paypal:before {
  content: "\f1ed";
}

.fa-pen-square:before {
  content: "\f14b";
}

.fa-pencil-alt:before {
  content: "\f303";
}

.fa-people-carry:before {
  content: "\f4ce";
}

.fa-percent:before {
  content: "\f295";
}

.fa-periscope:before {
  content: "\f3da";
}

.fa-phabricator:before {
  content: "\f3db";
}

.fa-phoenix-framework:before {
  content: "\f3dc";
}

.fa-phone:before {
  content: "\f095";
}

.fa-phone-slash:before {
  content: "\f3dd";
}

.fa-phone-square:before {
  content: "\f098";
}

.fa-phone-volume:before {
  content: "\f2a0";
}

.fa-php:before {
  content: "\f457";
}

.fa-pied-piper:before {
  content: "\f2ae";
}

.fa-pied-piper-alt:before {
  content: "\f1a8";
}

.fa-pied-piper-pp:before {
  content: "\f1a7";
}

.fa-piggy-bank:before {
  content: "\f4d3";
}

.fa-pills:before {
  content: "\f484";
}

.fa-pinterest:before {
  content: "\f0d2";
}

.fa-pinterest-p:before {
  content: "\f231";
}

.fa-pinterest-square:before {
  content: "\f0d3";
}

.fa-plane:before {
  content: "\f072";
}

.fa-play:before {
  content: "\f04b";
}

.fa-play-circle:before {
  content: "\f144";
}

.fa-playstation:before {
  content: "\f3df";
}

.fa-plug:before {
  content: "\f1e6";
}

.fa-plus:before {
  content: "\f067";
}

.fa-plus-circle:before {
  content: "\f055";
}

.fa-plus-square:before {
  content: "\f0fe";
}

.fa-podcast:before {
  content: "\f2ce";
}

.fa-poo:before {
  content: "\f2fe";
}

.fa-pound-sign:before {
  content: "\f154";
}

.fa-power-off:before {
  content: "\f011";
}

.fa-prescription-bottle:before {
  content: "\f485";
}

.fa-prescription-bottle-alt:before {
  content: "\f486";
}

.fa-print:before {
  content: "\f02f";
}

.fa-procedures:before {
  content: "\f487";
}

.fa-product-hunt:before {
  content: "\f288";
}

.fa-pushed:before {
  content: "\f3e1";
}

.fa-puzzle-piece:before {
  content: "\f12e";
}

.fa-python:before {
  content: "\f3e2";
}

.fa-qq:before {
  content: "\f1d6";
}

.fa-qrcode:before {
  content: "\f029";
}

.fa-question:before {
  content: "\f128";
}

.fa-question-circle:before {
  content: "\f059";
}

.fa-quidditch:before {
  content: "\f458";
}

.fa-quinscape:before {
  content: "\f459";
}

.fa-quora:before {
  content: "\f2c4";
}

.fa-quote-left:before {
  content: "\f10d";
}

.fa-quote-right:before {
  content: "\f10e";
}

.fa-random:before {
  content: "\f074";
}

.fa-ravelry:before {
  content: "\f2d9";
}

.fa-react:before {
  content: "\f41b";
}

.fa-readme:before {
  content: "\f4d5";
}

.fa-rebel:before {
  content: "\f1d0";
}

.fa-recycle:before {
  content: "\f1b8";
}

.fa-red-river:before {
  content: "\f3e3";
}

.fa-reddit:before {
  content: "\f1a1";
}

.fa-reddit-alien:before {
  content: "\f281";
}

.fa-reddit-square:before {
  content: "\f1a2";
}

.fa-redo:before {
  content: "\f01e";
}

.fa-redo-alt:before {
  content: "\f2f9";
}

.fa-registered:before {
  content: "\f25d";
}

.fa-rendact:before {
  content: "\f3e4";
}

.fa-renren:before {
  content: "\f18b";
}

.fa-reply:before {
  content: "\f3e5";
}

.fa-reply-all:before {
  content: "\f122";
}

.fa-replyd:before {
  content: "\f3e6";
}

.fa-resolving:before {
  content: "\f3e7";
}

.fa-retweet:before {
  content: "\f079";
}

.fa-ribbon:before {
  content: "\f4d6";
}

.fa-road:before {
  content: "\f018";
}

.fa-rocket:before {
  content: "\f135";
}

.fa-rocketchat:before {
  content: "\f3e8";
}

.fa-rockrms:before {
  content: "\f3e9";
}

.fa-rss:before {
  content: "\f09e";
}

.fa-rss-square:before {
  content: "\f143";
}

.fa-ruble-sign:before {
  content: "\f158";
}

.fa-rupee-sign:before {
  content: "\f156";
}

.fa-safari:before {
  content: "\f267";
}

.fa-sass:before {
  content: "\f41e";
}

.fa-save:before {
  content: "\f0c7";
}

.fa-schlix:before {
  content: "\f3ea";
}

.fa-scribd:before {
  content: "\f28a";
}

.fa-search:before {
  content: "\f002";
}

.fa-search-minus:before {
  content: "\f010";
}

.fa-search-plus:before {
  content: "\f00e";
}

.fa-searchengin:before {
  content: "\f3eb";
}

.fa-seedling:before {
  content: "\f4d8";
}

.fa-sellcast:before {
  content: "\f2da";
}

.fa-sellsy:before {
  content: "\f213";
}

.fa-server:before {
  content: "\f233";
}

.fa-servicestack:before {
  content: "\f3ec";
}

.fa-share:before {
  content: "\f064";
}

.fa-share-alt:before {
  content: "\f1e0";
}

.fa-share-alt-square:before {
  content: "\f1e1";
}

.fa-share-square:before {
  content: "\f14d";
}

.fa-shekel-sign:before {
  content: "\f20b";
}

.fa-shield-alt:before {
  content: "\f3ed";
}

.fa-ship:before {
  content: "\f21a";
}

.fa-shipping-fast:before {
  content: "\f48b";
}

.fa-shirtsinbulk:before {
  content: "\f214";
}

.fa-shopping-bag:before {
  content: "\f290";
}

.fa-shopping-basket:before {
  content: "\f291";
}

.fa-shopping-cart:before {
  content: "\f07a";
}

.fa-shower:before {
  content: "\f2cc";
}

.fa-sign:before {
  content: "\f4d9";
}

.fa-sign-in-alt:before {
  content: "\f2f6";
}

.fa-sign-language:before {
  content: "\f2a7";
}

.fa-sign-out-alt:before {
  content: "\f2f5";
}

.fa-signal:before {
  content: "\f012";
}

.fa-simplybuilt:before {
  content: "\f215";
}

.fa-sistrix:before {
  content: "\f3ee";
}

.fa-sitemap:before {
  content: "\f0e8";
}

.fa-skyatlas:before {
  content: "\f216";
}

.fa-skype:before {
  content: "\f17e";
}

.fa-slack:before {
  content: "\f198";
}

.fa-slack-hash:before {
  content: "\f3ef";
}

.fa-sliders-h:before {
  content: "\f1de";
}

.fa-slideshare:before {
  content: "\f1e7";
}

.fa-smile:before {
  content: "\f118";
}

.fa-smoking:before {
  content: "\f48d";
}

.fa-snapchat:before {
  content: "\f2ab";
}

.fa-snapchat-ghost:before {
  content: "\f2ac";
}

.fa-snapchat-square:before {
  content: "\f2ad";
}

.fa-snowflake:before {
  content: "\f2dc";
}

.fa-sort:before {
  content: "\f0dc";
}

.fa-sort-alpha-down:before {
  content: "\f15d";
}

.fa-sort-alpha-up:before {
  content: "\f15e";
}

.fa-sort-amount-down:before {
  content: "\f160";
}

.fa-sort-amount-up:before {
  content: "\f161";
}

.fa-sort-down:before {
  content: "\f0dd";
}

.fa-sort-numeric-down:before {
  content: "\f162";
}

.fa-sort-numeric-up:before {
  content: "\f163";
}

.fa-sort-up:before {
  content: "\f0de";
}

.fa-soundcloud:before {
  content: "\f1be";
}

.fa-space-shuttle:before {
  content: "\f197";
}

.fa-speakap:before {
  content: "\f3f3";
}

.fa-spinner:before {
  content: "\f110";
}

.fa-spotify:before {
  content: "\f1bc";
}

.fa-square:before {
  content: "\f0c8";
}

.fa-square-full:before {
  content: "\f45c";
}

.fa-stack-exchange:before {
  content: "\f18d";
}

.fa-stack-overflow:before {
  content: "\f16c";
}

.fa-star:before {
  content: "\f005";
}

.fa-star-half:before {
  content: "\f089";
}

.fa-staylinked:before {
  content: "\f3f5";
}

.fa-steam:before {
  content: "\f1b6";
}

.fa-steam-square:before {
  content: "\f1b7";
}

.fa-steam-symbol:before {
  content: "\f3f6";
}

.fa-step-backward:before {
  content: "\f048";
}

.fa-step-forward:before {
  content: "\f051";
}

.fa-stethoscope:before {
  content: "\f0f1";
}

.fa-sticker-mule:before {
  content: "\f3f7";
}

.fa-sticky-note:before {
  content: "\f249";
}

.fa-stop:before {
  content: "\f04d";
}

.fa-stop-circle:before {
  content: "\f28d";
}

.fa-stopwatch:before {
  content: "\f2f2";
}

.fa-strava:before {
  content: "\f428";
}

.fa-street-view:before {
  content: "\f21d";
}

.fa-strikethrough:before {
  content: "\f0cc";
}

.fa-stripe:before {
  content: "\f429";
}

.fa-stripe-s:before {
  content: "\f42a";
}

.fa-studiovinari:before {
  content: "\f3f8";
}

.fa-stumbleupon:before {
  content: "\f1a4";
}

.fa-stumbleupon-circle:before {
  content: "\f1a3";
}

.fa-subscript:before {
  content: "\f12c";
}

.fa-subway:before {
  content: "\f239";
}

.fa-suitcase:before {
  content: "\f0f2";
}

.fa-sun:before {
  content: "\f185";
}

.fa-superpowers:before {
  content: "\f2dd";
}

.fa-superscript:before {
  content: "\f12b";
}

.fa-supple:before {
  content: "\f3f9";
}

.fa-sync:before {
  content: "\f021";
}

.fa-sync-alt:before {
  content: "\f2f1";
}

.fa-syringe:before {
  content: "\f48e";
}

.fa-table:before {
  content: "\f0ce";
}

.fa-table-tennis:before {
  content: "\f45d";
}

.fa-tablet:before {
  content: "\f10a";
}

.fa-tablet-alt:before {
  content: "\f3fa";
}

.fa-tablets:before {
  content: "\f490";
}

.fa-tachometer-alt:before {
  content: "\f3fd";
}

.fa-tag:before {
  content: "\f02b";
}

.fa-tags:before {
  content: "\f02c";
}

.fa-tape:before {
  content: "\f4db";
}

.fa-tasks:before {
  content: "\f0ae";
}

.fa-taxi:before {
  content: "\f1ba";
}

.fa-telegram:before {
  content: "\f2c6";
}

.fa-telegram-plane:before {
  content: "\f3fe";
}

.fa-tencent-weibo:before {
  content: "\f1d5";
}

.fa-terminal:before {
  content: "\f120";
}

.fa-text-height:before {
  content: "\f034";
}

.fa-text-width:before {
  content: "\f035";
}

.fa-th:before {
  content: "\f00a";
}

.fa-th-large:before {
  content: "\f009";
}

.fa-th-list:before {
  content: "\f00b";
}

.fa-themeisle:before {
  content: "\f2b2";
}

.fa-thermometer:before {
  content: "\f491";
}

.fa-thermometer-empty:before {
  content: "\f2cb";
}

.fa-thermometer-full:before {
  content: "\f2c7";
}

.fa-thermometer-half:before {
  content: "\f2c9";
}

.fa-thermometer-quarter:before {
  content: "\f2ca";
}

.fa-thermometer-three-quarters:before {
  content: "\f2c8";
}

.fa-thumbs-down:before {
  content: "\f165";
}

.fa-thumbs-up:before {
  content: "\f164";
}

.fa-thumbtack:before {
  content: "\f08d";
}

.fa-ticket-alt:before {
  content: "\f3ff";
}

.fa-times:before {
  content: "\f00d";
}

.fa-times-circle:before {
  content: "\f057";
}

.fa-tint:before {
  content: "\f043";
}

.fa-toggle-off:before {
  content: "\f204";
}

.fa-toggle-on:before {
  content: "\f205";
}

.fa-trademark:before {
  content: "\f25c";
}

.fa-train:before {
  content: "\f238";
}

.fa-transgender:before {
  content: "\f224";
}

.fa-transgender-alt:before {
  content: "\f225";
}

.fa-trash:before {
  content: "\f1f8";
}

.fa-trash-alt:before {
  content: "\f2ed";
}

.fa-tree:before {
  content: "\f1bb";
}

.fa-trello:before {
  content: "\f181";
}

.fa-tripadvisor:before {
  content: "\f262";
}

.fa-trophy:before {
  content: "\f091";
}

.fa-truck:before {
  content: "\f0d1";
}

.fa-truck-loading:before {
  content: "\f4de";
}

.fa-truck-moving:before {
  content: "\f4df";
}

.fa-tty:before {
  content: "\f1e4";
}

.fa-tumblr:before {
  content: "\f173";
}

.fa-tumblr-square:before {
  content: "\f174";
}

.fa-tv:before {
  content: "\f26c";
}

.fa-twitch:before {
  content: "\f1e8";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-twitter-square:before {
  content: "\f081";
}

.fa-typo3:before {
  content: "\f42b";
}

.fa-uber:before {
  content: "\f402";
}

.fa-uikit:before {
  content: "\f403";
}

.fa-umbrella:before {
  content: "\f0e9";
}

.fa-underline:before {
  content: "\f0cd";
}

.fa-undo:before {
  content: "\f0e2";
}

.fa-undo-alt:before {
  content: "\f2ea";
}

.fa-uniregistry:before {
  content: "\f404";
}

.fa-universal-access:before {
  content: "\f29a";
}

.fa-university:before {
  content: "\f19c";
}

.fa-unlink:before {
  content: "\f127";
}

.fa-unlock:before {
  content: "\f09c";
}

.fa-unlock-alt:before {
  content: "\f13e";
}

.fa-untappd:before {
  content: "\f405";
}

.fa-upload:before {
  content: "\f093";
}

.fa-usb:before {
  content: "\f287";
}

.fa-user:before {
  content: "\f007";
}

.fa-user-circle:before {
  content: "\f2bd";
}

.fa-user-md:before {
  content: "\f0f0";
}

.fa-user-plus:before {
  content: "\f234";
}

.fa-user-secret:before {
  content: "\f21b";
}

.fa-user-times:before {
  content: "\f235";
}

.fa-users:before {
  content: "\f0c0";
}

.fa-ussunnah:before {
  content: "\f407";
}

.fa-utensil-spoon:before {
  content: "\f2e5";
}

.fa-utensils:before {
  content: "\f2e7";
}

.fa-vaadin:before {
  content: "\f408";
}

.fa-venus:before {
  content: "\f221";
}

.fa-venus-double:before {
  content: "\f226";
}

.fa-venus-mars:before {
  content: "\f228";
}

.fa-viacoin:before {
  content: "\f237";
}

.fa-viadeo:before {
  content: "\f2a9";
}

.fa-viadeo-square:before {
  content: "\f2aa";
}

.fa-vial:before {
  content: "\f492";
}

.fa-vials:before {
  content: "\f493";
}

.fa-viber:before {
  content: "\f409";
}

.fa-video:before {
  content: "\f03d";
}

.fa-video-slash:before {
  content: "\f4e2";
}

.fa-vimeo:before {
  content: "\f40a";
}

.fa-vimeo-square:before {
  content: "\f194";
}

.fa-vimeo-v:before {
  content: "\f27d";
}

.fa-vine:before {
  content: "\f1ca";
}

.fa-vk:before {
  content: "\f189";
}

.fa-vnv:before {
  content: "\f40b";
}

.fa-volleyball-ball:before {
  content: "\f45f";
}

.fa-volume-down:before {
  content: "\f027";
}

.fa-volume-off:before {
  content: "\f026";
}

.fa-volume-up:before {
  content: "\f028";
}

.fa-vuejs:before {
  content: "\f41f";
}

.fa-warehouse:before {
  content: "\f494";
}

.fa-weibo:before {
  content: "\f18a";
}

.fa-weight:before {
  content: "\f496";
}

.fa-weixin:before {
  content: "\f1d7";
}

.fa-whatsapp:before {
  content: "\f232";
}

.fa-whatsapp-square:before {
  content: "\f40c";
}

.fa-wheelchair:before {
  content: "\f193";
}

.fa-whmcs:before {
  content: "\f40d";
}

.fa-wifi:before {
  content: "\f1eb";
}

.fa-wikipedia-w:before {
  content: "\f266";
}

.fa-window-close:before {
  content: "\f410";
}

.fa-window-maximize:before {
  content: "\f2d0";
}

.fa-window-minimize:before {
  content: "\f2d1";
}

.fa-window-restore:before {
  content: "\f2d2";
}

.fa-windows:before {
  content: "\f17a";
}

.fa-wine-glass:before {
  content: "\f4e3";
}

.fa-won-sign:before {
  content: "\f159";
}

.fa-wordpress:before {
  content: "\f19a";
}

.fa-wordpress-simple:before {
  content: "\f411";
}

.fa-wpbeginner:before {
  content: "\f297";
}

.fa-wpexplorer:before {
  content: "\f2de";
}

.fa-wpforms:before {
  content: "\f298";
}

.fa-wrench:before {
  content: "\f0ad";
}

.fa-x-ray:before {
  content: "\f497";
}

.fa-xbox:before {
  content: "\f412";
}

.fa-xing:before {
  content: "\f168";
}

.fa-xing-square:before {
  content: "\f169";
}

.fa-y-combinator:before {
  content: "\f23b";
}

.fa-yahoo:before {
  content: "\f19e";
}

.fa-yandex:before {
  content: "\f413";
}

.fa-yandex-international:before {
  content: "\f414";
}

.fa-yelp:before {
  content: "\f1e9";
}

.fa-yen-sign:before {
  content: "\f157";
}

.fa-yoast:before {
  content: "\f2b1";
}

.fa-youtube:before {
  content: "\f167";
}

.fa-youtube-square:before {
  content: "\f431";
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*!
 * Font Awesome Free 5.0.9 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

.fab {
  font-family: "Font Awesome 5 Brands";
}

/*!
 * Font Awesome Free 5.0.9 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

.fa,
.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/* Components */
.container, .menu__container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

.container--small {
  max-width: 800px;
}

/* Variables */
.grid {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr;
}

.grid__item {
  margin-bottom: 30px;
}
.grid__item > *:last-child {
  margin-bottom: 0;
}

/* Modifiers: */
.grid--align-center {
  align-items: center;
}

@media (max-width: 899px) {
  .grid--2-for-max-tablet-portrait {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--3-for-max-tablet-portrait {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--4-for-max-tablet-portrait {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1199px) {
  .grid--2-for-max-tablet-landscape {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--3-for-max-tablet-landscape {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--4-for-max-tablet-landscape {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1799px) {
  .grid--2-for-max-desktop {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--3-for-max-desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--4-for-max-desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 600px) {
  .grid--2-for-min-tablet-portrait {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--3-for-min-tablet-portrait {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--4-for-min-tablet-portrait {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 900px) {
  .grid--2-for-min-tablet-landscape {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--3-for-min-tablet-landscape {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--4-for-min-tablet-landscape {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Experimental */
@media (min-width: 900px) {
  .grid--1-5-1 {
    grid-template-areas: "left center right";
    grid-template-columns: 1fr 5fr 1fr;
  }

  .grid--9-3 {
    grid-template-areas: "left right";
    grid-template-columns: 9fr 3fr;
  }

  .grid__item--center {
    grid-area: center;
  }

  .grid__item--left {
    grid-area: left;
  }

  .grid__item--right {
    grid-area: right;
  }
}
@media (min-width: 1200px) {
  .grid--2-for-min-desktop {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--3-for-min-desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--4-for-min-desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1800px) {
  .grid--2-for-min-desktop-big {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--3-for-min-desktop-big {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--4-for-min-desktop-big {
    grid-template-columns: repeat(4, 1fr);
  }
}
.grid__item--no-margin {
  margin-bottom: 0;
}

/* Variables */
.section {
  padding: 50px 15px 20px 15px;
}

.section__title {
  margin-bottom: 30px;
}

/* Remove padding-top for consecutive sections, but not if one of them has a background-color or -image (.section--bg). */
.section:not(.section--bg) + .section:not(.section--bg) {
  padding-top: 0;
}

/* Set padding-top to normal section-vertical-space for a .section--big with no background-color or -image that's beneath a normal .section.  */
.section:not(.section--bg):not(.section--big) + .section--big:not(.section--bg) {
  padding-top: 50px;
}

.section .section {
  margin-left: -15px;
  margin-right: -15px;
}

.section .section:first-of-type:not(.section--bg) {
  padding-top: 0;
}

.section .section:last-of-type:not(.section--bg) {
  padding-bottom: 0;
}

.section .section--bg:last-of-type {
  margin-bottom: -20px;
}

/* Modifiers */
.section--bg {
  background-color: #f2f2f2;
}

.section--big {
  padding: 100px 15px 70px 15px;
}

.section--keep-padding {
  padding-top: 50px !important;
}

/* Variables */
.banner {
  display: table;
  height: 120px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.banner__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
}

.banner__text {
  bottom: 0;
  color: #fff;
  display: table-cell;
  padding: 0 30px;
  position: relative;
  vertical-align: middle;
  width: 100%;
  z-index: 1;
}

.banner__title {
  display: block;
  margin-bottom: 0;
}

/* Modifiers */
.banner--type-1 {
  background: #000;
}

.banner--type-2 .banner__text {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

.banner--type-3 {
  background: #000;
}

.banner--type-3 .banner__image {
  height: 120px;
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
}

.banner--type-3 .banner__image::after {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 120px solid #000;
  content: "";
  display: block;
  position: absolute;
  left: -50px;
  top: 0;
}

.banner--type-3 .banner__text {
  padding-right: 120px;
}

@media (min-width: 600px) {
  .banner--type-3 .banner__image {
    width: 50%;
  }

  .banner--type-3 .banner__text {
    padding-right: 50%;
  }
}
/* Variables */
.bar, .menu__mobile-search, .menu__mobile-header, .menu__bar {
  padding: 0 15px;
}

/* Modifiers */
.bar--border-bottom {
  border-bottom: 1px solid #eee;
}

.bar--contrast {
  background-color: #f2f2f2;
}

.bar--margin-bottom {
  margin-bottom: 30px;
}

.bar--padding {
  padding: 15px;
}

/* Variables */
.breadcrumbs {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: "/ ";
  padding: 0 5px;
}

/* Modifiers */
.breadcrumbs__item--white {
  color: rgba(255, 255, 255, 0.9);
}

.breadcrumbs__link--white {
  color: #fff;
}

/* Variables */
.button, .menu__close-mobile-menu, .menu__toggle-mobile-menu, .wpcf7-submit {
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
  -webkit-appearance: none;
}
.button:visited, .menu__close-mobile-menu:visited, .menu__toggle-mobile-menu:visited, .wpcf7-submit:visited {
  color: #000;
}

/* Modifiers */
.button--block {
  display: block;
  width: 100%;
}

.button--large {
  padding: 20px 25px;
}

.button--no-background, .menu__close-mobile-menu, .menu__toggle-mobile-menu {
  background-color: transparent;
}

.button--no-border, .menu__close-mobile-menu, .menu__toggle-mobile-menu {
  border: none;
}

.button--primary, .wpcf7-submit {
  background-color: #007bff;
  border: none;
  color: #fff;
}
.button--primary:hover, .wpcf7-submit:hover {
  background-color: #1a88ff;
}
.button--primary:visited, .wpcf7-submit:visited {
  color: #fff;
}

.button--small {
  padding: 5px 10px;
}

.button__icon--left {
  margin-right: 10px;
}

.button__icon--right {
  margin-left: 10px;
}

/* Variables */
.calendar-icon, .card__calendar-icon {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60px;
}

.calendar-icon__day {
  background: #fff;
  color: #000;
  font-size: 1.25em;
  font-weight: 700;
  padding: 3px;
}

.calendar-icon__month {
  background: #000;
  color: #fff;
  font-size: 0.75em;
  font-weight: 700;
  padding: 3px;
  text-transform: uppercase;
}

/* Modifiers */
.calendar-icon--border {
  border: 1px solid #ddd;
}

/* Variables */
.cta {
  align-items: center;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr;
  text-align: center;
}

.cta__actions {
  margin-bottom: 30px;
  text-align: center;
}

.cta__description {
  margin-bottom: 30px;
}

.cta__text {
  font-size: 1.25em;
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .cta:not(.cta--big) {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  .cta:not(.cta--big) .cta__description {
    position: relative;
  }
  .cta:not(.cta--big) .cta__description::after {
    background: #ddd;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: -15px;
    top: 0;
    width: 1px;
  }
}
/* Variables */
/* .faq-list */
.faq-list {
  margin-bottom: 30px;
}

.faq-list__collapse {
  background: #f2f2f2;
  border-top: 1px solid #ddd;
  display: none;
  padding: 20px 20px 20px 20px;
}
.faq-list__collapse > *:last-child {
  margin-bottom: 0;
}
.faq-list__collapse .faq-list__item {
  border-left: none;
  border-right: none;
  margin: 0 -20px;
}
.faq-list__collapse .faq-list__item:first-child {
  margin-top: -20px;
}
.faq-list__collapse .faq-list__item:first-child .faq-list__button {
  border-top: none;
}
.faq-list__collapse .faq-list__item:last-child {
  border-bottom: none;
  margin-bottom: -20px;
}
.faq-list__collapse .faq-list__question {
  font-size: 1rem;
}

.faq-list__button {
  align-items: center;
  background: #fff;
  border-top: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.faq-list__item {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.faq-list__item:last-child {
  border-bottom: 1px solid #ddd;
}

.faq-list__icon {
  display: block;
  padding: 20px;
  transition: transform 0.1s;
}

.faq-list__list {
  margin-bottom: 30px;
}

.faq-list__question {
  color: #000;
  font-weight: 700;
  padding: 20px;
}

/* Modifiers */
.faq-list__collapse--visible {
  display: block;
}

.faq-list__button--active .faq-list__icon {
  transform: rotate(90deg);
}

/* Variables */
.fl-table {
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  margin-bottom: 30px;
}

.fl-table__data {
  border-right: 1px solid #eee;
  flex: 0 1 50%;
  padding: 10px;
}
.fl-table__data > *:last-child {
  margin-bottom: 0;
}

.fl-table__row {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

/* Modifiers */
.fl-table__data--grow {
  flex-grow: 1;
}

.fl-table--no-border, .fl-table--bare {
  border: none;
}
.fl-table--no-border .fl-table__data, .fl-table--bare .fl-table__data {
  border: none;
}

.fl-table--simple, .fl-table--bare {
  border: none;
}
.fl-table--simple .fl-table__data, .fl-table--bare .fl-table__data {
  border-right: none;
}
.fl-table--simple .fl-table__data:first-child, .fl-table--bare .fl-table__data:first-child {
  padding-left: 0;
}
.fl-table--simple .fl-table__data:last-child, .fl-table--bare .fl-table__data:last-child {
  padding-right: 0;
}

.fl-table--striped .fl-table__data:first-child {
  padding-left: 10px !important;
}
.fl-table--striped .fl-table__data:last-child {
  padding-right: 10px !important;
}
.fl-table--striped .fl-table__row:nth-child(odd) {
  background-color: #f2f2f2;
}

.fl-table__data--right, .fl-table__data--price {
  text-align: right;
}

.fl-table__data--strong, .fl-table__data--price, .fl-table__data--header {
  font-weight: 700;
}

.fl-table__row--center {
  align-items: center;
}

/* Extended modifiers */
.fl-table--bare .fl-table__data {
  padding: 3px;
}

.fl-table__data--header-background {
  background: #f2f2f2;
}

/* Variables */
.gallery {
  display: grid;
  grid-gap: 3px;
  margin-bottom: 27px;
}

.gallery__item > *:last-child {
  margin-bottom: 0 !important;
}

@media (min-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Variables */
.input, .input-textarea, .wpcf7-textarea, .wpcf7-form-control:not(.wpcf7-recaptcha):not(.wpcf7-submit) {
  background: #fff;
  border: 1px solid #ddd;
  color: #000;
  font-size: 1em;
  padding: 12px 10px;
  width: 100%;
}
.input::-webkit-input-placeholder, .input-textarea::-webkit-input-placeholder, .wpcf7-textarea::-webkit-input-placeholder, .wpcf7-form-control:not(.wpcf7-recaptcha):not(.wpcf7-submit)::-webkit-input-placeholder {
  color: #aaa;
}

.input:-moz-placeholder, .input-textarea:-moz-placeholder, .wpcf7-textarea:-moz-placeholder, .wpcf7-form-control:-moz-placeholder:not(.wpcf7-recaptcha):not(.wpcf7-submit) {
  color: #aaa;
}

.input::-moz-placeholder, .input-textarea::-moz-placeholder, .wpcf7-textarea::-moz-placeholder, .wpcf7-form-control:not(.wpcf7-recaptcha):not(.wpcf7-submit)::-moz-placeholder {
  color: #aaa;
}

.input:-ms-input-placeholder, .input-textarea:-ms-input-placeholder, .wpcf7-textarea:-ms-input-placeholder, .wpcf7-form-control:-ms-input-placeholder:not(.wpcf7-recaptcha):not(.wpcf7-submit) {
  color: #aaa;
}

/* Modifiers */
.input--border-primary-dark {
  border-color: black;
}

.input--border-fat {
  border-width: 2px;
}

.input--no-border {
  border: none;
}

.checkbox__box {
  border: 1px solid #ddd;
  display: block;
  height: 14px;
  position: relative;
  text-align: center;
  width: 14px;
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__box::after {
  content: "";
  font-family: "FontAwesome";
  font-size: 0.875em;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkbox__input-container {
  display: table-cell;
  padding-right: 10px;
  vertical-align: middle;
}

.checkbox__label {
  cursor: pointer;
}

.checkbox__text {
  display: table-cell;
  vertical-align: middle;
}

/* Variables */
.radio__box {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: block;
  height: 14px;
  position: relative;
  text-align: center;
  width: 14px;
}

.radio__input {
  display: none;
}

.radio__input:checked + .radio__box::after {
  content: "";
  background: #000;
  border-radius: 50%;
  display: block;
  height: 6px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
}

.radio__input-container {
  display: table-cell;
  padding-right: 10px;
  vertical-align: middle;
}

.radio__label {
  cursor: pointer;
}

.radio__text {
  display: table-cell;
  vertical-align: middle;
}

/* Variables */
.link, .menu-list__link {
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}
.link:visted, .menu-list__link:visted {
  color: #000;
}

/* Modifiers */
.link--color-text, .menu-list__link {
  color: #000;
}
.link--color-text:visited, .menu-list__link:visited {
  color: #000;
}

.link--no-decoration, .menu-list__link, .link--primary, .link--block {
  text-decoration: none;
}

.link--padding {
  padding: 10px;
}

.link--padding-large {
  padding: 15px;
}

.link--padding-small {
  padding: 5px;
}

.link--strong, .link--primary {
  font-weight: 700;
}

/* Extended modifiers */
.link--block {
  display: block;
}
.link--block:hover {
  background-color: #f2f2f2;
}

/* Variables */
.list, .menu-list, .language-switch, .footer__social-media, .footer__legal {
  font-size: 1rem;
  list-style-type: none;
  margin-bottom: 30px;
  padding: 0;
}
.list .list, .menu-list .list, .language-switch .list, .footer__social-media .list, .footer__legal .list {
  margin-left: 15px;
}

/* Modifiers */
.list--inline, .language-switch, .footer__social-media, .footer__legal {
  display: flex;
  flex-wrap: wrap;
  margin: -5px -5px 25px -5px;
}
.list--inline .list__item, .language-switch .list__item, .footer__social-media .list__item, .footer__legal .list__item {
  margin: 5px;
}

.list--no-margin, .language-switch {
  margin-bottom: 0;
}

.list__item--border, .list__item--bordered {
  border-bottom: 1px solid #ddd;
}

.list__item--margin, .list__item--bordered {
  margin-bottom: 30px;
}

.list__item--padding-bottom, .list__item--bordered {
  padding-bottom: 30px;
}
.list__item--padding-bottom > *:last-child, .list__item--bordered > *:last-child {
  margin-bottom: 0;
}

/* Extended modifiers */
.logo, .menu__logo {
  display: inline-block;
}

.map {
  height: 450px;
  vertical-align: bottom;
  width: 100%;
}

.media-item {
  display: flex;
  text-decoration: none;
}

.media-item__body {
  flex: 0 1 66.6666666667%;
}
.media-item__body > *:last-child {
  margin-bottom: 0;
}

.media-item__image {
  flex: 0 1 33.3333333333%;
  margin-right: 20px;
}

/* Modifiers */
.media-item--center {
  align-items: center;
}

/* Variables */
.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}

.pagination__link {
  color: #000;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  width: 40px;
}
.pagination__link:hover:not(.pagination__link--active) {
  background-color: #f2f2f2;
}
.pagination__link:visited {
  color: #000;
}

/* Modifiers */
.pagination__link--active {
  background-color: #000;
  color: #fff;
}
.pagination__link--active:visited {
  color: #fff;
}

.pagination__link--disabled {
  background-color: #f2f2f2;
  color: #aaa;
}
.pagination__link--disabled:visited {
  color: #aaa;
}

.pagination__link--rounded {
  border-radius: 50%;
}

.pagination__link--white {
  color: #fff;
}
.pagination__link--white:visited {
  color: #fff;
}

/* Variables */
@media (min-width: 900px) {
  .paper {
    background-color: #fff;
    margin: -100px 0 30px 0;
    padding: 50px 50px 20px 50px;
    position: relative;
  }
}
/* Modifiers */
@media (min-width: 900px) {
  .paper--shadow {
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
  }
}
/* Variables */
.product-1 {
  color: #000;
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
}

.product-1__description {
  color: #aaa;
  display: -webkit-box;
  font-size: 1em;
  line-height: 1.5em;
  height: 3em;
  margin-bottom: 10px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-1__image {
  max-height: 100%;
  max-width: 100%;
}

.product-1__image-container {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-bottom: 20px;
}

.product-1__price {
  display: block;
  font-size: 1em;
  position: relative;
  top: -3em;
}

.product-1__title {
  display: -webkit-box;
  font-weight: bold;
  font-size: 1em;
  height: 3em;
  line-height: 1.5em;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@media (min-width: 900px) {
  .product-1:hover .product-1__description {
    opacity: 1;
  }

  .product-1:hover .product-1__image {
    transform: scale(1.1);
  }

  .product-1:hover .product-1__price {
    top: 0;
  }

  .product-1__description {
    transition: opacity 0.3s;
  }

  .product-1__image {
    transition: transform 0.3s;
  }

  .product-1__price {
    transition: top 0.3s, opacity 0.3s;
  }
}
/* Variables */
.product-2 {
  background: #fff;
  display: block;
  position: relative;
  text-decoration: none;
}

.product-2__body {
  padding: 20px 20px 70px 20px;
}

.product-2__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 75%;
  position: relative;
}

.product-2__sticker {
  bottom: 15px;
  left: 15px;
  max-width: 100px;
  position: absolute;
}

.product-2__label {
  position: absolute;
  right: 0;
  top: 0;
}

.product-2__price {
  bottom: 20px;
  position: absolute;
  right: 20px;
  text-align: right;
}

.product-2__title {
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
  text-align: center;
}

/* Modifiers */
.product-2--contrast {
  background-color: #f2f2f2;
}

.product-2--shadow {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
}

/* Variables */
.responsive-embed {
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.responsive-embed__item {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*.spread{
	position: relative;
	.container{
		height: 100%;
	}
}
.spread__icon{
	margin-bottom: $vertical-beat;
}
.spread__image{
	margin-bottom: $vertical-beat;
}
.spread__image-container{
	position: relative;
	text-align: center;
}
.spread__text-container{
	position: relative;
}
.spread--full{
	.spread__image{
		display: inline;
		margin-bottom: 0;
	}
	.spread__image-container{
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 300px;
		padding: 50px 15px 20px 15px;
		.background-image{
			display: none;
		}
	}
	.spread__text-container{
		padding: 50px 15px 20px 15px;
	}
}
.spread--triple-image{
	.spread__image{
		display: inline;
	}
	.spread__image-container{
		.background-image{
			display: none;
		}
	}
	.spread__text-container{
		padding: 50px 15px 20px 15px;
	}
}
.spread__double-image{
	display: none;
}

@include min-desktop-md{
	.spread__grid{
		display: grid;
		grid-gap: 50px;
		grid-template-columns: 1fr 1fr;
	}
	.spread--image-right{
		.spread__image-container{
			order: 2;
		}
		.spread__text-container{
			grid-template-columns: 1fr minmax(min-content, ($container-width/2)) !important;
			padding-left: 15px;
			padding-right: 50px;
		}
		.spread__text{
			grid-column: 2;
		}
	}
	.spread--full{
		.spread__grid{
			grid-gap: 0;
			min-height: 500px;
		}
		.spread__image{
			display: none;
		}
		.spread__image--keep-image{
			display: block;
			margin-bottom: $vertical-beat;
		}
		.spread__image-container{
			padding: 50px 50px 20px 15px;
			.background-image{
				display: block;
			}
		}
		.spread__text-container{
			align-items: center;
			display: grid;
			grid-template-columns: minmax(min-content, ($container-width/2)) 1fr;
			padding: 50px 50px 20px 50px;
		}
		&.spread--image-right{
			.spread__image-container{
				padding-left: 50px;
				padding-right: 15px;
			}
		}
	}
	.spread__double-image{
			display: block;
			width: 300px;
		}
	.spread--triple-image{
		.spread__double-image{
			display: grid;
			grid-template-columns: 1fr;
		}
		.spread__grid{
			display: grid;
			grid-gap: 0;
			grid-template-columns: 1fr 1fr;
		}


		.spread__text-container{
		    align-items: center;
		    display: grid;
		    grid-template-columns: minmax(min-content, 585px) 1fr;
		    padding: 50px 50px 20px 50px;
		}
		.spread__triple-image{
			display: grid;
			grid-template-columns: 1fr 300px;
				.spread__image{
				display: none;
			}
			.spread__image-container{
				.background-image{
					display: block;
				}
			}
		}
	}
}*/
/* Variables */
.tabs {
  margin-bottom: 30px;
}

.tabs__body {
  clear: both;
  overflow: auto;
}

.tabs__drawer {
  display: block;
}

.tabs__drawer-link {
  background: #f2f2f2;
  border: 1px solid #ddd;
  border-bottom: none;
  color: #000;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.tabs__drawer:nth-last-child(2) {
  border-bottom: 1px solid #ddd;
}

.tabs__nav {
  display: none;
  bottom: -1px;
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  position: relative;
}

.tabs__nav-item {
  float: left;
}

.tabs__nav-item:last-child .tabs__nav-link {
  border-right: 1px solid #ddd;
}

.tabs__nav-link {
  background: #f2f2f2;
  border: 1px solid #ddd;
  border-right: none;
  color: #000;
  float: left;
  padding: 10px 15px;
  text-decoration: none;
}

.tabs__panel {
  display: none;
  padding: 20px;
}

.tabs__panel > ol:last-child, .tabs__panel > p:last-child, .tabs__panel > ul:last-child {
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .tabs__body {
    border: 1px solid #ddd;
  }
}
@media (min-width: 600px) {
  .tabs__drawer {
    display: none;
  }

  .tabs__nav {
    display: block;
  }
}
/* Modifiers */
.tabs__panel--active {
  display: block;
  height: auto;
}

.tabs__drawer--active:nth-last-child(2) {
  border-bottom: none;
}

.tabs__drawer--active .tabs__drawer-link {
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.tabs__nav-item--active .tabs__nav-link {
  background: #fff;
  border-bottom-color: #fff;
}

/* Variables */
.tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  list-style-type: none;
  margin: -5px -5px 25px -5px;
  padding: 0;
}

.tags__item {
  border: 1px solid #eee;
  border-radius: 30px;
  margin: 5px;
  padding: 5px 10px;
}

/* Variables */
/* .book-now */
.book-now {
  margin-bottom: 30px;
}

.book-now__button {
  margin-bottom: 20px;
}

.book-now__text {
  color: #000;
  margin-bottom: 10px;
}
.book-now__text .text-small {
  display: block;
}

@media (min-width: 900px) {
  .book-now__container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .book-now__button {
    margin-bottom: 0;
    order: 3;
  }

  .book-now__text {
    margin-bottom: 0;
  }
  .book-now__text .text-small {
    display: inline;
  }

  .book-now__hours {
    margin: 0 20px;
  }
}
/* Variables */
.button-add-on {
  display: flex;
}

.button__add-on {
  align-items: center;
  background-color: #006fe6;
  color: #fff;
  display: flex;
  padding: 15px 20px;
}

/* Variables */
.button-input {
  align-items: stretch;
  display: flex;
}
.button-input .button {
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

/* Modifiers */
.button-input--border {
  border: 1px solid #ddd;
}

.button-input--spinner .input {
  max-width: 50px;
  text-align: center;
}
.button-input--spinner .input[type=number]::-webkit-inner-spin-button, .button-input--spinner .input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Variables */
.form {
  margin-bottom: 30px;
}

.form__group {
  margin-bottom: 15px;
}

.form__group:after {
  clear: both;
  content: "";
  display: block;
}

.form__label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
}

/* Modifiers */
.form__input-group--inline .checkbox, .form__input-group--inline .radio {
  display: inline-block;
}

.form__input-group--inline .checkbox, .form__input-group--inline .radio {
  margin-right: 10px;
}

/* Variables */
.wpcf7 {
  margin-bottom: 30px;
}

.wpcf7-form p {
  margin-bottom: 15px;
}

.wpcf7-form-control:not(.wpcf7-recaptcha):not(.wpcf7-submit) {
  background-size: auto !important;
}

.wpcf7-form-control-wrap {
  margin-bottom: 15px;
}

.wpcf7-not-valid-tip {
  color: #ff4f4f;
}

div.wpcf7-response-output {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 20px;
}

div.wpcf7-validation-errors {
  border-color: #ff4f4f;
}

#cn-notice-text {
  color: #fff;
}

#cookie-notice .button.bootstrap {
  background: #007bff;
  border: none;
  font-size: 1em;
  margin-right: 0;
  text-shadow: none;
}
#cookie-notice .button.bootstrap:focus {
  background: #1a88ff;
}
#cookie-notice .button.bootstrap:hover {
  background: #1a88ff;
}

/* Variables */
.pagination {
  margin-bottom: 30px;
}
.pagination .screen-reader-text {
  display: none;
}

.nav-links {
  text-align: center;
}

.page-numbers {
  color: #000;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  width: 40px;
}

.page-numbers.current {
  background: #000;
  border-radius: 50%;
  color: #fff;
}

.page-numbers.next, .page-numbers.prev {
  font-size: 0;
  position: relative;
}
.page-numbers.next::after, .page-numbers.prev::after {
  content: "";
  color: #000;
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
}

.page-numbers.next::after {
  content: "";
}

/* Extended components */
/* Variables */
.card {
  background: #fff;
  display: block;
  text-decoration: none;
}

.card__body {
  flex: 1;
  padding: 30px;
  position: relative;
}
.card__body > *:last-child {
  margin-bottom: 0;
}

.card__footer {
  border-top: 1px solid #eee;
  padding: 30px;
}
.card__footer > *:last-child {
  margin-bottom: 0;
}

.card__header {
  border-bottom: 1px solid #eee;
  padding: 30px;
}
.card__header > *:last-child {
  margin-bottom: 0;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  flex: 0 1 33.3333333333%;
  min-height: 200px;
  padding-bottom: 56.25%;
  position: relative;
}

.card__publish-date {
  color: #aaa;
  font-size: 0.875em;
  font-style: italic;
  margin: -10px 0 10px 0;
}

.card__calendar-icon {
  left: 0;
  position: absolute;
  top: 0;
}

/* Modifiers */
.card--inline {
  display: flex;
}
.card--inline .card__image {
  min-height: auto;
  padding-bottom: 0;
}

.card--border {
  border: 1px solid #ddd;
}

.card--center {
  align-items: center;
  display: flex;
}

.card--responsive {
  display: flex;
}
.card--responsive .card__image {
  min-height: auto;
  padding-bottom: 0;
}

.card--shadow {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
}

.card--transparent {
  background-color: transparent;
}

.card--warning {
  border: 1px solid #ff4f4f;
}

.card__body--padding-small {
  padding: 15px;
}

.card__footer--padding-small {
  padding: 15px;
}

.card__header--padding-small {
  padding: 15px;
}

@media (min-width: 900px) {
  .card--responsive {
    display: block;
  }
  .card--responsive .card__image {
    min-height: 200px;
    padding-bottom: 56.25%;
  }
}
/* Variables */
.footer {
  text-align: center;
}
.footer .logo {
  display: block;
  text-align: center;
}
.footer .logo img {
  max-width: 200px;
}

.footer__copyright {
  text-align: center;
}

.footer__legal {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.footer__primary {
  padding: 50px 15px 20px 15px;
}

.footer__secondary {
  padding: 30px 15px;
}

.footer__social-media {
  justify-content: center;
}

@media (min-width: 900px) {
  .footer {
    text-align: left;
  }

  .footer__legal {
    justify-content: left;
  }

  .footer__copyright {
    text-align: left;
  }

  .footer__social-media {
    justify-content: left;
  }
}
/* Modifiers */
.footer--border {
  border-top: 1px solid #ddd;
}

.footer__secondary--border {
  border-top: 1px solid #ddd;
}

.hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  padding: 50px 15px;
  position: relative;
  text-align: center;
}

.hero__contact {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero__contact .button {
  margin: 0 10px 10px 10px;
}

.hero__content > *:last-child {
  margin-bottom: 0;
}

.hero__phone {
  color: #fff;
  font-size: 1.25em;
  font-weight: 700;
  margin: 0 10px;
  text-decoration: none;
}

.hero__slide {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  height: 100%;
  padding: 50px 15px;
  text-align: center;
}

.hero__slider-container {
  padding-bottom: 75%;
  position: relative;
  z-index: 1;
}

.hero__text {
  color: #fff;
  font-size: 1.25em;
}

.hero__title {
  color: #fff;
  margin-bottom: 10px;
}

@media (min-width: 900px) {
  .hero {
    min-height: 400px;
  }

  .hero__contact .button {
    margin-bottom: 0;
  }

  .hero__title {
    font-size: 3em;
  }
}
/* .owl-carousel */
.owl-carousel {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.owl-item, .owl-stage, .owl-stage-outer {
  height: 100%;
}

/* Modifiers */
.hero--overlay {
  position: relative;
  z-index: 0;
}
.hero--overlay::before {
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.hero__slide--overlay {
  position: relative;
  z-index: 0;
}
.hero__slide--overlay::before {
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* Variables */
.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file__label {
  color: #000;
  cursor: pointer;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-file__icon {
  margin-right: 10px;
}

.input-textarea, .wpcf7-textarea {
  min-height: 150px;
}

/* .image-button */
.image-button {
  cursor: pointer;
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.image-button:hover .image-button__image, .image-button.image-button--hover .image-button__image {
  transform: scale3d(1.1, 1.1, 1.1);
}
.image-button:hover::after, .image-button.image-button--hover::after {
  opacity: 0;
}
.image-button::after {
  background: #000;
  content: "";
  display: block;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  top: 0;
  transition: opacity 0.3s;
  width: 100%;
}
.image-button::before {
  content: "";
  display: block;
  padding-bottom: 75%;
}

.image-button__caption {
  display: block;
  padding: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}
.image-button__caption > *:last-child {
  margin-bottom: 0;
}

.image-button__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s ease-in-out;
}

.image-button__text, .image-button__title {
  color: #fff;
  display: block;
  text-align: center;
}

.image-button__title {
  margin-bottom: 0;
}

/* Modifiers */
.image-button--square::before {
  padding-bottom: 100%;
}

.image-button--small::before {
  padding-bottom: 25%;
}

.image-button__caption--bottom {
  bottom: 0;
  top: auto;
  transform: none;
}

/* Variables */
.language-switch {
  justify-content: center;
  font-size: 0.875em;
}
.language-switch .language-switch__item {
  padding: 5px;
}
.language-switch .language-switch__item + .language-switch__item .language-switch__link {
  border-left: 1px solid #ddd;
  padding-left: 10px;
}
.language-switch .language-switch__link {
  color: #000;
}
.language-switch .language-switch__link:visited {
  color: #000;
}

@media (min-width: 1200px) {
  .language-switch {
    justify-content: flex-end;
  }
}
/* Variables */
.menu__bar {
  background-color: #fff;
  transition: background-color 0.3s;
}

.menu__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}

.menu__logo {
  flex: 0 1 150px;
  padding: 10px 0;
}

.menu__mobile {
  background-color: #fff;
  height: 100%;
  overflow-y: auto;
  padding: 0 15px;
  position: fixed;
  right: -100%;
  top: 0;
  transition: right 0.3s;
  width: 100%;
  z-index: 99;
}

.menu__mobile-header {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  margin: 0 -15px 30px;
  min-height: 60px;
  justify-content: flex-end;
}

.menu__mobile-search {
  background-color: #f2f2f2;
  margin: -30px -15px 30px -15px;
  padding: 15px;
}

.menu__search {
  margin-left: 15px;
}

@media (min-width: 600px) {
  .menu__container {
    min-height: 80px;
  }

  .menu__mobile-header {
    min-height: 80px;
  }
}
/* Modifiers */
.menu__bar--colored {
  background-color: #000;
}

.menu__bar--fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.menu__bar--transparent {
  background-color: transparent;
}

.menu__mobile--visible {
  right: 0%;
}

/* Variables */
.menu-list {
  margin-bottom: 0;
}
.menu-list .list__item {
  position: relative;
}
.menu-list .list__item:hover .menu-list__submenu {
  display: block;
}

.menu-list__link {
  display: block;
  padding: 15px;
}

.menu-list__submenu {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

@media (min-width: 900px) {
  .menu-list {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .menu-list .list__item:last-child .menu-list__submenu {
    right: 0;
  }

  .menu-list > .list__item:first-child {
    margin-left: -15px;
  }

  .menu-list__submenu {
    background: #fff;
    display: none;
    min-width: 200px;
    padding-left: 0;
    position: absolute;
    z-index: 1;
  }
  .menu-list__submenu .list__item {
    border-bottom: 1px solid #ddd;
  }
  .menu-list__submenu .list__item:last-child {
    border-bottom: none;
  }
}
/* Modifiers */
.menu-list__link--white {
  color: #fff;
}
.menu-list__link--white:visited {
  color: #fff;
}

/* Theme B */

/*# sourceMappingURL=main.css.map */
